[Desktop Entry]
Version=1.0.0
Type=Application
Name=RocketMC
Comment=RocketMC is an open source Minecraft launcher developed in Python
Exec=rocketmc
Icon=rocketmc
Terminal=false
Categories=Game;
