[Desktop Entry]
Version=1.6.0
Type=Application
Name=RocketMC
Comment=RocketMC is an open source Minecraft launcher developed in Python
Exec=openlauncher
Icon=openlauncher
Terminal=false
Categories=Game;
